body{
  background: linear-gradient(135deg,#0f172a,#1e293b,#0f172a);
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 15px;
}
.intro{
  text-align: center;
  padding: 8px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 12px;
  height: auto;
  width: 60%;
  margin: 0 auto;
  box-shadow: 5px 5px 8px black;
  animation-name: slideup;
  animation-duration: 1.5s;
  transition: 1s ease-in-out;
  letter-spacing: 1px;
}
@keyframes slideup{
  from {
    transform: translateY(50px);
    opacity: 0;
}

to {
    transform: translateY(0);
    opacity: 1;
}
}
.intro-container{
  display: flex;
  justify-content: center;
}
img{
  height: auto;
  width: 200px;
  border-radius: 100%;
  text-align: left;
  margin: 10px;
  animation-name: slideup;
  animation-duration: 1.5s;
  transition: 1s ease-in-out;
}
img:hover{
  background-color: gray;
  cursor: pointer;
  height: auto;
  width: 220px;
  transition: 0.7s ease;
}
#its{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:  1px solid rgba(255,255,255,0.4);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 5px 5px 8px black;
  animation-name: slideleft;
  animation-duration: 0.6s;
  transition: 1s ease-in-out;
}
#its:hover{
  background-color: gray;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.about-container{
  display: flex;
  justify-content: left;
}
#its1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:  1px solid rgba(255,255,255,0.4);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 5px 5px 8px black;
  animation-name: slideleft;
  animation-duration: 0.8s;
  transition: 1s ease-in-out;
}
#its1:hover{
  background-color: gray;
  cursor: pointer;
  transition: 0.1s ease;
}
#its2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:  1px solid rgba(255,255,255,0.4);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 5px 5px 8px black;
  animation-name: slideleft;
  animation-duration: 1s;
  transition: 1s ease-in-out;
}
#its2:hover{
  background-color: gray;
  cursor: pointer;
  transition: 0.1s ease;
}
#its3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:  1px solid rgba(255,255,255,0.4);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 5px 5px 8px black;
  animation-name: slideleft;
  animation-duration: 1.2s;
  transition: 1s ease-in-out;
}
#its3:hover{
  background-color: gray;
  cursor: pointer;
  transition: 0.1s ease;
}
#its4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:  1px solid rgba(255,255,255,0.4);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 5px 5px 8px black;
  animation-name: slideleft;
  animation-duration:  1.5s;
  transition: 1s ease-in-out;
}
#its4:hover{
  background-color: rgb(145, 142, 142);
  cursor: pointer;
  transition: 0.1s ease;
}
@keyframes slideleft{
  from {
    transform: translatex(80px);
    opacity: 0;
}

to {
    transform: translatex(0);
    opacity: 1;
}
}